body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 430px;
  margin: 0 auto;
  background: url("./images/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-img {
  border-radius: 50%;
}

.container-svg {
  width: 130px;
  height: 130px;
  margin-bottom: 16px;
}

.link-logo {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.text-cotainer {
  max-width: 316px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 20px;
}

.text {
  color: #1E1B1B;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

/* .text-bold {
  color: #1E1B1B;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.30;
  text-align: center;
} */

.button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 16px 51px;
    min-width: 169px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.30;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2DA4DC;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
